<!DOCTYPE html>
{% if meta.lang %}
    <html lang="{{ meta.lang }}">
{% else %}
    <html>
{% endif %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if meta.author %}
            <meta name="author" content="{{ meta.author }}" />
        {% endif %}
            <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
        {% if meta.title %}
            <meta name="title" content="{{ meta.title }}" />
        {% endif %} {% if meta.description %}
            <meta name="description" content="{{ meta.description | striptags }}" />
        {% endif %} {% if meta.robots %}
            <meta name="robots" content="{{ meta.robots }}" />
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
        <link rel="stylesheet" href="{{ theme_url }}/assets/css/highlight-default.css" />
        <link rel="stylesheet" href="{{ theme_url }}/assets/css/styles.css" />
        {% if meta.css %}
            <link rel="stylesheet" href="{{ meta.css | url }}" />
        {% endif %}

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ current_page.url }}" />
        <meta property="og:title" content="{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}" />
        {% if meta.description %}
            <meta property="og:description" content="{{ meta.description | striptags }}" />
        {% endif %}

        <!-- Twitter -->
        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="{{ current_page.url }}" />
        <meta property="twitter:title" content="{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}" />
        {% if meta.description %}
            <meta property="twitter:description" content="{{ meta.description | striptags }}" />
        {% endif %}
    </head>

    <body>
        <a id="top"></a>
        <nav class="navigation">
            <a href="{{ base_url }}">{{ site_title }}</a> - <a href="{{ base_url }}/search">Search</a> -
            <a href="#top">Go to top</a>
        </nav>
