{% include '_header.twig' %}
{% include '_body.twig' %}
<div class="search">
    <input id="search" placeholder="Search" type="text" />
    <a href="#" onclick="window.location = '{{ base_url }}/search/' + document.querySelector('#search').value"
        >Search</a
    >
</div>
{% if search_terms %}
<div class="SearchResults">
    {% set search_results = pages|apply_search %} {% if search_results %}
    <h2>Search results for {{ search_terms|e('html') }}</h2>
    <ul>
        {% for page in search_results %}
        <li style="margin-bottom: 10px;">
            <b><a href="{{ page.url }}?match={{ search_terms|e('html') }}">{{ page.title }}</a></b>
            {% if page.description %}: {{ page.description }}{% endif %}
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;URL: {{ page.url }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No results found for {{ search_terms|e('html') }}.</p>
    {% endif %}
</div>
{% endif %} {% include '_footer.twig' %}
