{% include '_header.twig' %}
<main id="main-wrapper" style="margin-top: 100px;">
	<div style="width: 25%; display: inline-block; vertical-align: top;">
		{% if meta.header %}
			<div style="font-size: 72px; display: inline-block; margin-right: 15px">{{ meta.header }}</div>
		{% endif %}
		{% if meta.title %}
			<h1 style="margin: 0; display: inline-block; font-size: 3em">{{ meta.title }}</h1>
		{% endif %}
		{% if meta.description %}
			<p style="margin: 0">{{ meta.description }}</p>
		{% endif %}
		{% if meta.blocks %}
			{% for b in meta.blocks %}
				<div class="block">
					<h2 style="margin-bottom: 0;" {% if b.color %} class="{{ b.color }}" {% endif %}>{{ b.title }}</h2>
					{% if b.content %}
						{{ b.content }}
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div style="display: inline-block; padding-left: 15px;">
		{{ content }}
	</div>
	{% include '_footer.twig' %}
